@use "../../styles/buttons.scss";
@use "../../styles/colors.scss";

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .register_input {
    width: 300px;
  }
  .register_button {
    @include buttons.main;
  }
  .register_button:hover {
    @include buttons.hover;
  }
}
@media only screen and (max-width: 600px) {
  .register .register_input {
    width: auto;
    min-width: 250px;
  }
}
